# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
newenv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data
data/raw/*.csv
data/interim/*.csv
# data/processed/*.csv

# Models
models/*.pkl
models/*.h5


# Logs
logs/*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.log